/* import fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */

body{
    font-family: 'Poppins';
    margin: 0;
}

/* header section start  */

header{
    background-color: #2D25A0;
}
/* main section start  */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* copa section strat  */
.container{
    width: 1080px;
    display: flex;
    color: #fff;
    margin: 50px 0 80px;
    justify-content: space-between;
}
.copa-title h1{
    font-size: 50px;
}
.copa-button i{
    cursor: pointer;
}
.copa-button button{
    background-color: #E02C6D;
    /* display: flex; */
    border:none;
    color: #fff;
    padding: 12px 24px;
    justify-content: space-between;
    margin-top: -40px;
    font-size: 16px;
}
.copa-button button > i{
    margin-left: 10px;
}
.copa-banner img{
    width: 100%;
    transition: 1.5s ease-in-out;
}
.container:hover .copa-banner img{
    transform: scale(.70);
    position: relative;
}



/* player section  strat*/

.player-section{
    display: flex;
    align-items: center;
    flex-direction: column;}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 65px;
}
.player{
    width: 308px;
    height: 440px;
    background-color: #fff;
    padding: 14px;
    box-shadow: 0px 0px 40px 0px #00000026;

}
.player-image img{
    width: 100%;
}
.player-name h4{
    font-size: 28px;
    margin: 5px 0;
}
.player-description p{
    font-size: 16px;
    color: #6C6C6C;
    margin: 0;
}



/* video section start  */

.video-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.video-section-title{
    color: #173562;
    font-size: 32px;
    margin-top: 100px;
}
.videos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 48px;
}
.video{
    width: 280px;
    height: 425px;
    background-color: #1E1E1E;
    color: #fff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.video-title h4{
    font-size: 20px;
    margin-top: 0;
}
.video-date p{
    font-size: 15px;
}
.video-title, .video-date{
    padding: 0 10px;
}
.video-date{
    bottom: 0;
    position: absolute;
}

/* sponsor section strat  */

.sponsor-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sponsor-title{
    margin-top: 100px;
    color: #173562;
    font-size: 32px;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0 30px;
}
.sponsor{
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 50px;
}
.sponsor img{
    width: 80%;
    padding: 5px 0 0 10px;
}
.tcl{
    background-color: red;
    border: 1px solid red;
}
.betsson{
    background-color: #F76300;
    border: 1px solid #F76300;
}

/* footer strat  */

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 60px 0;
}
.footer-mid-icons i{
    color: #969BAB;
    background-color: #E7E7E8;
    font-size: 15px;
    margin: 5px;
    padding: 7px;
    border-radius: 50%;
}
.footer-end p{
    font-size: 18px;
}



/* media query */

/* mobile devices */

@media only screen and (max-width: 688px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .copa-description{
        margin-left: 20px;
    }
    .copa-button{
        margin-top: 8px;
        margin-bottom: 40px;
    }
    .copa-title h1{
        font-size: 36px;
    }
    .players, .videos{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        width: 250px;
        height: 440px;
    }
    .sponsors{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .footer-top img{
        width: 60%;
        margin-left: 70px;
    }
}


/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .copa-description, .copa-banner img{
        margin-left: 80px;
    }
    .copa-button{
        margin-top: 8px;
        margin-bottom: 40px;
    }
    .copa-banner img{
        width: 60%;
    }
    .players, .videos{
        grid-template-columns: repeat(2, 1fr);
    }
    .sponsors{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px 30px;
    }
    .footer-top img{
        width: 80%;
        margin-left: 10px;
    }
}